
.logo {
    font-weight: bold;
    color: blue;
}
.sign-up {
    background: fixed;
    color: aqua;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
}
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}